.myIcon{
    float: left!important;
}
.CCol-CCard{
    justify-items: center !important;
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
}
.CCard{
    
    margin: 5px;
    width: 25vw !important;
    height: 12vw !important;
    min-width: 300px !important;
    min-height: 200px !important;
}
.CIcon{
    width: 30px !important;
    height: 30px !important;    
    border-radius: 5px;
    font-size:12px !important;
    /* background-color: #39f; */
    color: black;
    

}
